{{!-- <section class="vh-100 bg-image mt-5" style="background-color: white; scroll" --}}
  {{!-- style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');"> --}}
  
  {{!-- <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12">
          <div class="card" style="border-radius: 15px; bordercolor:black" >
            <div class="card-body p-4" >
              <h2 class="text-uppercase text-center mb-5">ADD PRODUCT</h2>

              <form method="post" action="/admin/product-edit" enctype="multipart/form-data">

                <div class="form-outline mb-2">
                    <label class="form-label" for="form3Example1cg">Product Name</label>
                  <input type="text" name="pname" id="form3Example1cg" class="form-control form-control-lg"  style="background-color:#DCDCDC;" value="{{response.pname}}"/>
                  
                </div>

                <div class="form-outline mb-2">
                    <label class="form-label" for="form3Example3cg">Brand</label>
                  <input type="text" name="brand" id="form3Example3cg" class="form-control form-control-lg"  style="background-color:#DCDCDC;" value="{{response.brand}}" required/>
                  
                </div>

                <div class="form-outline mb-2">
                    <label class="form-label" for="form3Example4cg">Category</label>
                  <select name="category" id="category" class="form-control form-control-lg" style="background-color:#DCDCDC;" value="{{response.category}}" required/>  
                        <option value="">Select</option>
                        <option value="Tables">Tables and chairs</option>
                        <option value="decor">Home decor</option>
                        <option value="sofa">Sofa set</option>
                        <option value="cot">Cot</option>
                        <option value="lights">lights</option>
                      </select> 
                  
                </div>
                      
                <div class="form-outline mb-5">
                    <label class="form-label" for="form3Example4cdg">Price</label>
                  <input type="text" name="price" id="form3Example4cdg" class="form-control form-control-lg" style="background-color:#DCDCDC;" value="{{response.price}}" required/>
                  
                  
                </div>

                 <div class="form-outline mb-2">
                    <label class="form-label" for="form3Example5cdg">Stock</label>
                  <input type="text" name="stock" id="form3Example5cdg" class="form-control form-control-lg" style="background-color:#DCDCDC;" value="{{response.stock}}" required/>
                  
                  
                </div>
                <div class="form-outline mb-2">
                    <label class="form-label" for="form3Example6cdg">Description</label>
                    <textarea name="desc" id="form3Example6cdg" class="form-control form-control-lg" style="background-color:#DCDCDC;" />{{response.desc}}</textarea>
                    
                </div>
                <div class="form-outline mb-2">
                <input style="line-height: 40px;" multiple class="mt-3 ms-2" style="width: 600px; ;ine-height:20px; font-size: small;" type="file" name="image" id="file" accept="image/*" required/> 
                
                <div>
                    <p class="text-danger">{{err}}</p>
                </div>
                


                <div class="d-flex justify-content-center">

                  
            <button type="submit" class="btn btn-dark btn-lg mb-3">Add</button>
                </div>

               
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> --}}



 <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->
        <div class="mobile-nav">
            <!-- Navbar Brand -->
            <div class="amado-navbar-brand">
                <a href="index.html"><img src="/img/core-img/decorablack.png" alt=""></a>
            </div>
            <!-- Navbar Toggler -->
            <div class="amado-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>

        <!-- Header Area Start -->
        <header class="header-area clearfix">
            <!-- Close Icon -->
            <div class="nav-close">
                <i class="fa fa-close" aria-hidden="true"></i>
            </div>
            <!-- Logo -->
            <div class="logo">
                <a href="index.html"><img src="/img/core-img/decorablack.png" alt=""></a>
            </div>
            <!-- Amado Nav -->
            <nav class="amado-nav">
            
                <ul>
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/admin/user-list">Users</a></li>
                    <li><a href="/admin/product-list">Products</a></li>
                    <li><a href="cart.html">Orders</a></li>
                    <li><a href="checkout.html">About</a></li>
                    <li><a href="checkout.html">Contact</a></li>
                </ul>
                
            </nav>
            <div class="cart-fav-search mb-100">
                {{!-- <a href="#" class="search-nav"><img src="/img/core-img/search.png" alt=""> Search</a> --}}
                </div>
            <!-- Button Group -->
          
            <div class="social-info d-flex justify-content-between">
                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
        </header>
        <!-- Header Area End -->

        <!-- Product Catagories Area Start -->
        
        {{!-- <div class="products-catagories-area clearfix" > --}}
        
            {{!-- <div class="amado-pro-catagory clearfix">{{#each home}} --}}
                <!-- Single Catagory -->
               

            <div class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="checkout_details_area mt-50 clearfix">

                            <div class="cart-title">
                                <h2>EDIT PRODUCT</h2>
                            </div>

                            <form method="post" action="/admin/product-edit" enctype="multipart/form-data">
                                <div class="row">
                                    
                                    <div class="col-12 mb-3">
                                        <input type="text" name="pname" class="form-control" id="name" placeholder="Product Name" value="{{products.pname}}">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <input type="text" name="brand" class="form-control" id="brand" placeholder="Brand" value="{{products.brand}}">
                                    </div>
                                     <div class="col-12 mb-3">
                                        <select class="w-100" id="country" name="category">
                                            <option value="" selected>{{products.category}}</option>
                                          {{#each category}}
                                    
                                       <option value="{{category}}">{{category}}</option>
                                       {{/each}}
                                    </select>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <input type="text" name="price" class="form-control mb-3" id="price" placeholder="Price" value="{{products.price}}">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <input type="text" name="stock" class="form-control" id="stock" placeholder="Stock" value="{{products.stock}}">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <input type="text" name="discount" class="form-control" id="discount" placeholder="Discount" value="{{products.discount}}">
                                    </div>
                                   
                                    <div class="col-12 mb-3">
                                        <textarea name="desc"  class="form-control w-100" id="comment" cols="30" rows="10" placeholder="enter a description about the product" noresize>{{products.desc}}</textarea>
                                    </div>
                                     <div class="d-flex">
                                        {{#each products.image}}
                                        <img id="{{@index}}"  class="ms-2" src="/product-images/{{[]}}.jpg" alt="" width="130px">
                                        {{!-- <i class="fa-solid fa-file-pen">
                                        <input type="file" name="image" id="file" accept="image/*" required/></i> --}}
                                           <label for="file">
  <i class="fa-solid fa-file-pen"></i>
  <input type="file" id="file" style="display: none" name="{{[]}}" accept="image/jpg,image/png" data-original-title="upload photos">
</label>



                                        {{/each}}
                                    </div>

                    <p class="text-danger">{{err}}</p>
                </div>
                
                                    <div class="d-flex justify-content-center">
                                    <div class="cart-btn mt-50">
                                <button type="submit" class="btn amado-btn ">UPDATE</a>
                            </div></div>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>





            {{!-- </div> --}}
        {{!-- </div></div> --}}
                <!-- Single Catagory -->
               
    <!-- ##### Main Content Wrapper End ##### -->

    <!-- ##### Newsletter Area Start ##### -->

    <!-- ##### Newsletter Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer_area clearfix">
        <div class="container">
            <div class="row align-items-center">
                <!-- Single Widget Area -->
                <div class="col-12 col-lg-4">
                    <div class="single_widget_area">
                        <!-- Logo -->
                        <div class="footer-logo mr-50 mt-5">
                            <a href="index.html"><img src="/img/core-img/decoraWhite.png" alt=""></a>
                        </div>
                        <!-- Copywrite Text -->
                        <p class="copywrite mt-1"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-lg-8">
                    <div class="single_widget_area">
                        <!-- Footer Menu -->
                        <div class="footer_menu">
                            <nav class="navbar navbar-expand-lg justify-content-end">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#footerNavContent" aria-controls="footerNavContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                                <div class="collapse navbar-collapse" id="footerNavContent">
                                   
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="/admin">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/user-list">Users</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/product-list">Products</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="cart.html">Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="checkout.html">About

                                            </a>
                                        </li>
                                    </ul>
                                   
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->